.container{
    display: grid;
    background-color: aquamarine;
    height: 300px;
    border: 2px solid red;
    margin: 40px 20px 10px;
    grid-template-columns: auto auto auto;
}
/*.child1,.child2,.child3{
    height: 200px;
    border: 1px dotted royalblue;
    width: 200px;
    margin: 30px;
    
}*/
.child1{
    background-color: brown;
}
.child2{
    background-color: chocolate;
}
.child3{
    background-color: blueviolet;
}